PORT=3000
MONGO_URI=mongodb://localhost:27017/smartbill
JWT_SECRET=super_secret_jwt_key_here
JWT_EXPIRES_IN=30d


# Gmail SMTP Credentials (leave blank to mock)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password_here
